<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NaverOpenAPIExam.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>979297C21D9765B4003FA408</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>979297D61D9765B5003FA408</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>979297E11D9765B5003FA408</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
